PORT=1994
PUBLIC_DOMAIN=https://nhanbpx.ddns.net

KEY_MASTER=123456
JWT_SECRET=123

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE_NAME=phimv2

TMDB_API=https://api.themoviedb.org/3/
TMDB_API_IMG=https://image.tmdb.org/t/p/
TMDB_API_V3=2f85feeeb335c605c888a95bb4c4cd32
TMDB_API_v4=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIyZjg1ZmVlZWIzMzVjNjA1Yzg4OGE5NWJiNGM0Y2QzMiIsInN1YiI6IjYzNjYxMzY3OWQ2ZTMzMDA3ZDdjMTRlMSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.KtK9_h4Ehii-jZswnOSYP0aniPea4Ujp21nyBGhtSpY

FILE_ROOT_PATH=D:/phim/